.hedng {
  padding-top: 5%;
  text-align: center;
  color: white;
  margin-left: 3%;
  /* background-color: blue; */
}

.heading1 {
  text-align: center;
  margin-left: 5%;
  color: white;
}

.details {
  color: white;
  text-align: center;
}
